<div class="center hero-unit">
  <h1>Demo App</h1>
 
  <h2>
    Welcome to the home page of my Demo app! 
  </h2>
 
  <%= link_to "Sign up now, NOW, NOW!!", "users/new", class: "btn btn-custom btn-large btn-primary" %>
</div>